{# templates/web/admin.html.twig #}
{% extends 'base.html.twig' %}
{% set title_page = 'Page d\'admin' %}

{% block general_body %}
<details open>
    <summary>Les classes importées</summary>
    <table id="importedClasses" class="wimstable" style="text-align:center">
        <caption>Classes importées dans wims</caption>
        <thead>
            <tr data-sort-method="thead">
                <th scope="col" role="columnheader">Établissement</th>
                <th scope="col" role="columnheader">UAI</th>
                <th scope="col" role="columnheader">Classe</th>
                <th scope="col" role="columnheader">Enseignant</th>
                <th scope="col" role="columnheader">Matières</th>
                <th scope="col" role="columnheader">Nombre d'étudiants</th>
                <th scope="col" role="columnheader">Id wims</th>
            </tr>
        </thead>
        <tbody>
        {% for line in data %}
            <tr class="{% if loop.index is even %}even{% else %}odd{% endif %}">
                <td>{{ line.gc_name }}</td>
                <td>{{ line.uai }}</td>
                <td>{{ line.c_name }}</td>
                <td>{{ line.lastName }} {{ line.firstName }}</td>
                <td>{{ line.subjects }}</td>
                <td>{{ line.nb_students }}</td>
                <td>{{ line.id_wims }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block endjs %}
    <script src="/wims/scripts/js/tablesort.js"></script>
    <script src="/wims/scripts/js/tablesort.number.js"></script>

    <script>
    new Tablesort(document.getElementById("importedClasses"));
    </script>
{% endblock %}