{# templates/web/home.html.twig #}
{% extends 'web/baseWithGroupingClasses.html.twig' %}

{% block body %}
<details open>
    <summary>{{ "home.title"|trans }}</summary>
    <p>
        {{ "home.accessToStudentZone"|trans }} : <a href="{{ path('student') }}">{{ "menu.studentZone"|trans }}</a><br>
        {{ "home.accessToTeacherZone"|trans }} : <a href="{{ path('teacher') }}">{{ "menu.teacherZone"|trans }}</a>
    </p>
</details>
{% endblock %}