{# templates/web/student.html.twig #}
{% extends 'web/baseWithGroupingClasses.html.twig' %}
{% set title_page = "menu.studentZone"|trans %}

{% block body %}
{% for key, subCohorts in cohorts %}
<details open>
    <summary>{{ ("studentZone." ~ key ~ ".your")|trans }}</summary>
    {% if subCohorts|length > 0 %}
    <table class="wimstable" style="text-align:center">
        <caption>{{ ("studentZone." ~ key ~ ".your")|trans }}</caption>
        <thead>
            <tr data-sort-method="thead">
                <th scope="col" role="columnheader">{{ "tableHeader.name"|trans }}</th>
                <th scope="col" role="columnheader">{{ "tableHeader.subjects"|trans }}</th>
                <th scope="col" role="columnheader">{{ "tableHeader.teacher"|trans }}</th>
                <th scope="col" role="columnheader">{{ "tableHeader.action"|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for cohort in subCohorts %}
            <tr class="{% if loop.index is even %}even{% else %}odd{% endif %}">
                <td>
                    {{ cohort.name }}
                </td>
                <td>
                    {{ cohort.subjects }}
                </td>
                <td>
                    {{ cohort.teacher.lastName }}
                </td>
                <td>
                    <a href="{{ cohort|wims_url_class_for_student }}" class="wims_button" role="button">{{ "button.enter"|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <br>
    {{ ("studentZone." ~ key ~ ".notRegistered")|trans }}
    {% endif %}
</details>
{% endfor %}
{% endblock %}

{% block endjs %}
{% include 'web/include/tablesort.html.twig' %}
{% endblock %}