{# templates/web/teacher.html.twig #}
{% extends 'web/baseWithGroupingClasses.html.twig' %}
{% set title_page = 'Détails de la classe' %}
{% set can_sync = false %}

{% block style %}
<style>
    .wims_loader_label {
        font-weight: bold;
    }

    .full_width {
        width: 100%;
    }

    ul.wims_loader_class_ul {
        width: 100%;
    }

    ul.wims_loader_class_ul li.field.box {
        min-height: auto;
    }

    .two-col {
        width: 50%;
    }

    .bloc-students li {
        padding: 2px;
        margin-bottom: 4px;
    }

    .bloc-students .ok {
        background-color: #BBFFBB;
    }

    .bloc-students .nok-warn {
        background-color: #FFFFBB;
    }

    .bloc-students .nok-error {
        background-color: #FFBBBB;
    }
</style>
{% endblock %}

{% block body %}
<fieldset class="property_fields blockcenter">
    <legend>Établissement</legend>
    <ul class="flex_box wims_loader_class_ul">
        <li class="field box halfwidth">
            <span class="wims_loader_label">UAI de l'établissement :</span> {{ groupingClasses.uai }}
        </li>
        <li class="field box halfwidth">
            <span class="wims_loader_label">Nom de l'établissement :</span> {{ groupingClasses.name }}
        </li>
    </ul>
</fieldset>
<fieldset class="property_fields blockcenter">
    <legend>Classe</legend>
    <ul class="flex_box wims_loader_class_ul">
        <li class="field box halfwidth">
            <span class="wims_loader_label">Nom de la classe :</span> {{ class.name }}
        </li>
        <li class="field box halfwidth">
            <span class="wims_loader_label">Nom de l'enseignant :</span> {{ class.teacher.lastName }} {{ class.teacher.firstName }}
        </li>
        <li class="field box halfwidth">
            <span class="wims_loader_label">Matière(s) :</span> {{ class.subjects }}
        </li>
        <li class="field box halfwidth">
            <span class="wims_loader_label">ID wims :</span> {{ class.fullIdWims }}
        </li>
        <li class="field box halfwidth">
            <span class="wims_loader_label">Derniére synchro :</span> {{ class.lastSyncAt|date('H:i d/m/y') }}
        </li>
    </ul>
</fieldset>
<fieldset class="property_fields blockcenter bloc-students">
    <legend>Élèves</legend>
    <div class="two-col">
        <p>Dans wims :</p>
        <ul>
        {% for uid, userData in diffStudents.wims %}
            <li class="{% if uid in diffStudents.wimsUnsync %}nok-warn{% else %}ok{% endif %}">{{ userData.fullName }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="two-col">
        <p>Dans l'annuaire :</p>
        <ul>
        {% for uid, userData in diffStudents.ldap %}
            <li class="{% if uid in diffStudents.ldapUnsync %}nok-error{% else %}ok{% endif %}">{{ userData.fullName }}</li>
        {% endfor %}
        </ul>
    </div>
</fieldset>
{% if diffStudents.wimsUnsync|length == 0 and diffStudents.ldapUnsync|length == 0 %}
    <div class="wims_msg info">Les élèves sont bien synchronisés.</div>
{% else %}
    {% if diffStudents.wimsUnsync|length != 0 %}
        <div class="wims_msg info">Certains élèves sont présent dans wims mais plus dans n'annuaire. Ce n'est pas génant.</div>
    {% endif %}

    {% if diffStudents.ldapUnsync|length != 0 %}
        {% set can_sync = true %}
        <div class="wims_msg alert">Certains élèves ne sont pas synchronisés avec wims. Veuillez synchroniser pour corriger le problème.</div>
    {% endif %}
{% endif %}
<div class="wimscenter actions">
    {% if can_sync %}<a href="{{ url('teacherSyncClass', { 'idClass': class.id }) }}" class="wims_button" role="button">Synchroniser</a>{% endif %}
    <a href="{{ url('teacher') }}" class="wims_button wims_secondary_button" role="button">Retour</a>
</div>


{% endblock %}