{# templates/web/teacher.html.twig #}
{% extends 'web/baseWithGroupingClasses.html.twig' %}
{% set title_page = "menu.teacherZone"|trans %}

{% block body %}
<details open>
    <summary>Vos classes importées</summary>
    {% if importedClasses|length > 0 %}
        <p><a href="{{ groupingClasses|wims_url_grouping_classes_for_teacher }}">{{ "teacherZone.accessToClasses"|trans }}</a></p>

        <table id="importedClasses" class="wimstable" style="text-align:center">
            <caption>{{ "teacherZone.classesImported"|trans }}</caption>
            <thead>
                <tr data-sort-method="thead">
                    <th scope="col" role="columnheader">{{ "tableHeader.name"|trans }}</th>
                    <th scope="col" role="columnheader">{{ "tableHeader.subjects"|trans }}</th>
                    <th scope="col" role="columnheader">{{ "tableHeader.idWims"|trans }}</th>
                    <th scope="col" role="columnheader">{{ "tableHeader.action"|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for class in importedClasses %}
                <tr class="{% if loop.index is even %}even{% else %}odd{% endif %}">
                    <td>
                        {{ class.name }}
                    </td>
                    <td>
                        {{ class.subjects }}
                    </td>
                    <td>
                        {{ class.fullIdWims }}
                    </td>
                    <td>
                        <a href="{{ url('teacherDetailsClass', {idClass: class.id}) }}" class="wims_button" role="button">{{ "button.details"|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ "teacherZone.noImportedClasses"|trans }}</p>
    {% endif %}
</details>
<details {% if formsClassesToImport|length > 0 %}open{% else %}close{% endif %}>
    <summary>{{ "teacherZone.classesToImport"|trans }}</summary>
    {% if formsClassesToImport|length > 0 %}
        <table id="classToImport" class="wimstable" style="text-align:center">
            <caption>{{ "teacherZone.classesAvailableForImport"|trans }}</caption>
            <thead>
                <tr data-sort-method="thead">
                    <th scope="col" role="columnheader">{{ "tableHeader.name"|trans }}</th>
                    <th scope="col" role="columnheader">{{ "tableHeader.action"|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for key, form in formsClassesToImport %}
                <tr class="{% if loop.index is even %}even{% else %}odd{% endif %}">
                    <td>
                        {{ key }}
                    </td>
                    <td>
                        {{ form(form) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ "teacherZone.noClassesAvailableForImport"|trans }}</p>
    {% endif %}
</details>
{% endblock %}

{% block endjs %}
    <script src="/wims/scripts/js/tablesort.js"></script>
    <script src="/wims/scripts/js/tablesort.number.js"></script>

    <script>
    new Tablesort(document.getElementById("importedClasses"));
    new Tablesort(document.getElementById("classToImport"));
    </script>
{% endblock %}