{# templates/web/teacher.html.twig #}
{% extends 'web/baseWithGroupingClasses.html.twig' %}
{% set title_page = "menu.teacherZone"|trans %}

{% block body %}
<p><a href="{{ groupingClasses|wims_url_grouping_classes_for_teacher }}">{{ "teacherZone.accessToClassesAndGroups"|trans }}</a></p>
{# section groupements classes #}
<details open>
    <summary>{{ "teacherZone.classes.yourImported"|trans }}</summary>
    {% if importedClasses|length > 0 %}
        <table id="importedClasses" class="wimstable" style="text-align:center">
            <caption>{{ "teacherZone.classes.imported"|trans }}</caption>
            <thead>
                <tr data-sort-method="thead">
                    <th scope="col" role="columnheader">{{ "tableHeader.name"|trans }}</th>
                    <th scope="col" role="columnheader">{{ "tableHeader.subjects"|trans }}</th>
                    <th scope="col" role="columnheader">{{ "tableHeader.idWims"|trans }}</th>
                    <th scope="col" role="columnheader">{{ "tableHeader.action"|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for class in importedClasses %}
                <tr class="{% if loop.index is even %}even{% else %}odd{% endif %}">
                    <td>
                        {{ class.name }}
                    </td>
                    <td>
                        {{ class.subjects }}
                    </td>
                    <td>
                        {{ class.fullIdWims }}
                    </td>
                    <td>
                        <a href="{{ url('teacherDetailsCohort', {idCohort: class.id}) }}" class="wims_button" role="button">{{ "button.details"|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ "teacherZone.classes.noImported"|trans }}</p>
    {% endif %}
</details>
<details {% if formsClassesToImport|length > 0 %}open{% else %}close{% endif %}>
    <summary>{{ "teacherZone.classes.toImport"|trans }}</summary>
    {% if formsClassesToImport|length > 0 %}
        <table id="classToImport" class="wimstable" style="text-align:center">
            <caption>{{ "teacherZone.classes.availableForImport"|trans }}</caption>
            <thead>
                <tr data-sort-method="thead">
                    <th scope="col" role="columnheader">{{ "tableHeader.name"|trans }}</th>
                    <th scope="col" role="columnheader">{{ "tableHeader.action"|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for key, form in formsClassesToImport %}
                <tr class="{% if loop.index is even %}even{% else %}odd{% endif %}">
                    <td>
                        {{ key }}
                    </td>
                    <td>
                        {{ form(form) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ "teacherZone.classes.noOneAvailableForImport"|trans }}</p>
    {% endif %}
</details>
{# section groupements pédagogique #}
<details open>
    <summary>{{ "teacherZone.groups.yourImported"|trans }}</summary>
    {% if importedGroups|length > 0 %}
        <table id="importedGroups" class="wimstable" style="text-align:center">
            <caption>{{ "teacherZone.groups.imported"|trans }}</caption>
            <thead>
                <tr data-sort-method="thead">
                    <th scope="col" role="columnheader">{{ "tableHeader.name"|trans }}</th>
                    <th scope="col" role="columnheader">{{ "tableHeader.subjects"|trans }}</th>
                    <th scope="col" role="columnheader">{{ "tableHeader.idWims"|trans }}</th>
                    <th scope="col" role="columnheader">{{ "tableHeader.action"|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for groups in importedGroups %}
                <tr class="{% if loop.index is even %}even{% else %}odd{% endif %}">
                    <td>
                        {{ groups.name }}
                    </td>
                    <td>
                        {{ groups.subjects }}
                    </td>
                    <td>
                        {{ groups.fullIdWims }}
                    </td>
                    <td>
                        <a href="{{ url('teacherDetailsCohort', {idCohort: groups.id}) }}" class="wims_button" role="button">{{ "button.details"|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ "teacherZone.groups.noImported"|trans }}</p>
    {% endif %}
</details>
<details {% if formsGroupsToImport|length > 0 %}open{% else %}close{% endif %}>
    <summary>{{ "teacherZone.groups.toImport"|trans }}</summary>
    {% if formsGroupsToImport|length > 0 %}
        <table id="groupToImport" class="wimstable" style="text-align:center">
            <caption>{{ "teacherZone.groups.availableForImport"|trans }}</caption>
            <thead>
                <tr data-sort-method="thead">
                    <th scope="col" role="columnheader">{{ "tableHeader.name"|trans }}</th>
                    <th scope="col" role="columnheader">{{ "tableHeader.action"|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for key, form in formsGroupsToImport %}
                <tr class="{% if loop.index is even %}even{% else %}odd{% endif %}">
                    <td>
                        {{ key }}
                    </td>
                    <td>
                        {{ form(form) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ "teacherZone.groups.noOneAvailableForImport"|trans }}</p>
    {% endif %}
</details>
{% endblock %}

{% block endjs %}
    <script src="/wims/scripts/js/tablesort.js"></script>
    <script src="/wims/scripts/js/tablesort.number.js"></script>

    <script>
    const elems = document.getElementsByClassName("wimstable");
    for (const elem of elems) {
        console.log(elem);
        new Tablesort(elem);
    }
    </script>
{% endblock %}