{# templates/web/teacher.html.twig #}
{% extends 'web/baseWithGroupingClasses.html.twig' %}
{% set title_page = 'Page enseignant' %}

{% block body %}
<details open>
    <summary>Vos classes importées</summary>
    {% if importedClasses|length > 0 %}
        <p><a href="{{ groupingClasses|wims_url_grouping_classes_for_teacher }}">Accéder aux classes</a></p>

        <table id="importedClasses" class="wimstable" style="text-align:center">
            <caption>Classes importées dans wims</caption>
            <thead>
                <tr data-sort-method="thead">
                    <th scope="col" role="columnheader">Nom</th>
                    <th scope="col" role="columnheader">Matières</th>
                    <th scope="col" role="columnheader">Id Wims</th>
                    <th scope="col" role="columnheader">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for class in importedClasses %}
                <tr class="{% if loop.index is even %}even{% else %}odd{% endif %}">
                    <td>
                        {{ class.name }}
                    </td>
                    <td>
                        {{ class.subjects }}
                    </td>
                    <td>
                        {{ class.fullIdWims }}
                    </td>
                    <td>
                        <a href="{{ url('teacherDetailsClass', {idClass: class.id}) }}" class="wims_button" role="button">Détails</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Vous n'avez aucune classe importée.</p>
    {% endif %}
</details>
<details {% if formsClassesToImport|length > 0 %}open{% else %}close{% endif %}>
    <summary>Vos classes à importer</summary>
    {% if formsClassesToImport|length > 0 %}
        <table id="classToImport" class="wimstable" style="text-align:center">
            <caption>Classes disponibles à l'import</caption>
            <thead>
                <tr data-sort-method="thead">
                    <th scope="col" role="columnheader">Nom</th>
                    <th scope="col" role="columnheader">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for key, form in formsClassesToImport %}
                <tr class="{% if loop.index is even %}even{% else %}odd{% endif %}">
                    <td>
                        {{ key }}
                    </td>
                    <td>
                        {{ form(form) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Vous n'avez aucune classe disponible à l'import.</p>
    {% endif %}
</details>
{% endblock %}

{% block endjs %}
    <script src="/wims/scripts/js/tablesort.js"></script>
    <script src="/wims/scripts/js/tablesort.number.js"></script>

    <script>
    new Tablesort(document.getElementById("importedClasses"));
    new Tablesort(document.getElementById("classToImport"));
    </script>
{% endblock %}