<!DOCTYPE html>
<html>
{% if title_page is not defined %}{% set title_page = "Page d'accueil" %}{% endif %}
    <head>
        <meta charset="UTF-8">
        <title>{{ title_page }}</title>
        <!-- icon wims disabled to display icon of site -->
        <!-- <link rel="icon" type="image/png" href="/wims/gifs/wims_logo.png" /> -->
        
        <!-- makes browsers render all elements more consistently -->
        <link rel="stylesheet" href="/wims/scripts/js/external/normalize.min.css">

        <!-- Foundation Accordion -->
        <link rel="stylesheet" href="/wims/html/themes/_css/foundation_accordion.css">

        <link href="/wims/html/themes/standard/css.css?ver=4.26" rel="stylesheet">
        <link href="/wims/gifs/themes/default/icon-min.css?ver=4.26" rel="stylesheet">

        <!-- METAS iOS : -->
        <link rel="apple-touch-icon" href="/wims/gifs/wims_logo.png">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <!-- prevents links from apps from opening in mobile safari>
        <script src="scripts/js/external/safari_mobile_links/compressed.js"></script-->

        <!-- Librairies JQUERY -->
        <script src="/wims/scripts/js/external/jquery/jquery.min.js"></script>
        <link rel="stylesheet" href="/wims/scripts/js/external/jquery-ui/themes/smoothness/jquery-ui.min.css">
        <script src="/wims/scripts/js/external/jquery-ui/jquery-ui.min.js"></script>

        <!-- JQUERY pour autocompletion -->
        <script src="/wims/scripts/js/interface/autocomplete.js"></script>

        <!-- Style pour impression -->
        <link rel="stylesheet" media="print" href="html/themes/_css/print.css">

        {% if entNetocentre %}
        {# début ajout bandeau et footer ENT #}
        <style>
            body{
                padding-bottom:55px;
            }
            extended-uportal-header {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 1001;
            }
            extended-uportal-footer {
                position: fixed;
                width: 100%;
                bottom: 0;
                left: 0;
            }
        </style>
        {# fin ajout bandeau et footer ENT #}
        {% endif %}

        {% block style %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="main_body">
        {% if entNetocentre %}
        {# début ajout bandeau ENT #}
        <extended-uportal-header messages='[{"locales": ["fr", "fr-FR"], "messages": { "message": {"header": {"login": "{{ "button.uportalHeader.connexionEnt"|trans }}" } }}}]'
            domain="{{ app.request.host }}" height="38px"
            service-name="Wims" context-api-url="/portail" sign-out-url="/portail/Logout"
            default-org-logo-path="/annuaire_images/default_banner_v1.jpg" default-avatar-path="/images/icones/noPictureUser.svg"
            default-org-icon-path="/images/partners/netocentre-simple.svg" favorite-api-url="/portail/api/layout"
            layout-api-url="/portail/api/v4-3/dlm/layout.json" organization-api-url="/change-etablissement/rest/v2/structures/structs/"
            portlet-api-url="/portail/api/v4-3/dlm/portletRegistry.json?category=All%20categories"
            user-info-api-url="/portail/api/v5-1/userinfo?claims=private,name,ESCOSIRENCourant,ESCOSIREN,picture&groups="
            session-api-url="/portail/api/session.json"
            user-info-portlet-url="/portail/api/ExternalURLStats?fname=ESCO-MCE&amp;service=/MCE"
            template-api-path="/commun/portal_template_api.tpl.json" switch-org-portlet-url="/portail/p/etablissement-swapper"
            favorites-portlet-card-size="small" grid-portlet-card-size="auto" hide-action-mode="never"
            show-favorites-in-slider="true" return-home-title="{{ "button.uportalHeader.gotToHome"|trans }}" return-home-target="_self"
            icon-type="nine-square" sign-in-url="/portail/Login" >
        </extended-uportal-header>
        {# fin ajout bandeau ENT #}
        {% endif %}
        <div id="wimstopbox">
            <div class="wimsmenu menu float_left">
                <span class="menuitem class_home">
                    <span class="text_item class_home">{{ title_page }} </span>
                </span>
            </div>
            <ul class="wimsmenu dropdown menu" data-dropdown-menu="isxrsk-dropdown-menu" data-options="data-autoclose:true;" role="menubar">
                <li class="menuitem is-dropdown-submenu-parent opens-right" role="menuitem" aria-haspopup="true" aria-label="{{ app.user.fullName }}" data-is-click="false">
                    <a id="#user_links" class="account"><span class="text_item">{{ app.user.fullName }}</span></a>
                    <ul id="user_links" class="menu submenu is-dropdown-submenu first-sub vertical" data-submenu="" role="menubar" style="">
                        <li class="menuitem visitor is-submenu-item is-dropdown-submenu-item" role="menuitem">
                            <a href="{{ url('logout') }}" class="visitor"><span>{{ "button.logout"|trans }} </span></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="wimsmenu menu"> </div>
            <br class="clearall">
        </div>

        <nav aria-label="You are here:">
            <ul class="breadcrumbs">
                {% if navigationBar is defined %}
                {% for elem in navigationBar %}
                <li class="class_home menuitem">
                    {% set url = elem.url|default(null) %}

                    {% if url is not null %}
                        <a href="{{ elem.url}}"><span>{{ elem.name }}</span></a>
                    {% else %}
                        <span class="text_item class_home">{{ elem.name }} </span>
                    {% endif %}

                    {% if loop.last %}
                        <span class="show-for-sr">(Current)</span>
                    {% endif %}
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </nav>

        <div id="wimsbodybox">
            <div id="wimspagebox">
                <div class="wimsbody">
                    {% for message in app.flashes('alert') %}
                        <div class="wims_msg alert">{{ message }}</div>
                    {% endfor %}

                    {% for message in app.flashes('info') %}
                        <div class="wims_msg info">{{ message }}</div>
                    {% endfor %}

                    {% block general_body %}
                    {% endblock %}
                </div>
            </div>

            {% block menu %}
            <nav id="wimsmenumodubox">
                <div class="modubox_content">
                    <h2 class="menu_title">
                        <span> {{ "menu.navigation"|trans }}</span>
                    </h2>
                </div>
                <div class="wimsmenu menu">
                    {% if is_granted('ROLE_ENS') %}
                    <div class="menuitem">
                        <a href="{{ url('teacher') }}"><span>{{ "menu.teacherZone"|trans }} </span></a>
                    </div>
                    {% endif %}
                    {% if is_granted('ROLE_ELV') %}
                    <div class="menuitem">
                        <a href="{{ url('student') }}"><span>{{ "menu.studentZone"|trans }} </span></a>
                    </div>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="menuitem">
                        <a href="{{ url('admin') }}"><span>{{ "menu.adminZone"|trans }} </span></a>
                    </div>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="menuitem">
                        <a href="{{ url('admin') }}"><span>{{ "menu.adminZone"|trans }} </span></a>
                    </div>
                    {% endif %}
                </div>
                {% if is_granted('IS_DEV_ENV') %}
                <div class="modubox_content">
                    <h2 class="menu_title">
                        <span> {{ "menu.debug"|trans }}</span>
                    </h2>
                </div>
                <div class="wimsmenu menu">
                    <div class="menuitem">
                        <a href="{{ url('debug_user') }}"><span>{{ "menu.debugSub.userInfo"|trans }} </span></a>
                    </div>
                    <div class="menuitem">
                        <a href="{{ url('debug_phpinfo') }}"><span>{{ "menu.debugSub.phpinfo"|trans }} </span></a>
                    </div>
                    <div class="menuitem">
                        <a href="{{ url('debug_headers') }}"><span>{{ "menu.debugSub.headers"|trans }} </span></a>
                    </div>
                </div>
                {% endif %}
            </nav>
            {% endblock %}
        </div>

        {% if entNetocentre %}
        {# début ajout footer ENT #}
        <extended-uportal-footer domain="{{ app.request.host }}"
            template-api-path="/commun/portal_template_api.tpl.json"
            links=\'[{"title":"Accessibilité : partiellement conforme"},{"title":"CGU","href":"/files/textes/droits_usage.html"},{"title":"Apereo.org","href":"https://www.apereo.org/"},{"title":"ESUP-Portail","href":"https://www.esup-portail.org/"}]\' >
        </extended-uportal-footer>
        {# fin ajout footer ENT #}
        {% endif %}

        <!-- Foundation for Sites 6 footer template (see http://foundation.zurb.com/sites/docs/)  -->

        <script src="/wims/scripts/js/external/what-input/what-input.min.js"></script>

        <script src="/wims/html/themes/_inc/foundation/foundation.core.js"></script>
        <script src="/wims/html/themes/_inc/foundation/foundation.util.mediaQuery.js"></script>

        <script src="/wims/html/themes/_inc/foundation/foundation.util.keyboard.js"></script>
        <script src="/wims/html/themes/_inc/foundation/foundation.util.box.js"></script>
        <script src="/wims/html/themes/_inc/foundation/foundation.util.nest.js"></script>
        <script src="/wims/html/themes/_inc/foundation/foundation.util.touch.min.js"></script>

        <script src="/wims/html/themes/_inc/basic_triggers.js"></script>


        <script src="/wims/html/themes/_inc/foundation/foundation.util.motion.js"></script>
        <script src="/wims/html/themes/_inc/foundation/foundation.reveal.js"></script>

        <script src="/wims/html/themes/_inc/foundation/foundation.dropdownMenu.js"></script>

        <script src="/wims/html/themes/_inc/foundation/foundation.accordion.min.js"></script>

        <script>jQuery(function($) {$(document).foundation();});</script>

        {% if entNetocentre %}
        {# début ajout bandeau ENT #}
        <script type="text/javascript" src="/commun/extended-uportal-header.min.js"></script>
        {# fin ajout bandeau ENT #}
        {# début ajout footer ENT #}
        <script type="text/javascript" src="/commun/extended-uportal-footer.min.js"></script>
        {# fin ajout footer ENT #}
        {% endif %}

        {% block endjs %}
        {% endblock %}
    </body>
</html>
